@import '../../variables';
@import '../../mixins';

.field-container {
    text-align: center;
}
.field-cell {
    @include tile();
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin: 5px;
    font-size: 3rem;

    &.up {
        color: $color-lightest;
        background: $color-darker;
    }
}