.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Bungee', cursive;
    font-size: 8em;
    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.32);
}