@mixin tile () {
    background: $white;
    border: none;
    border-radius: .2em;
    color: $color-darkest;
    cursor: pointer;

    // push effect
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.32);
    transform: translate(0,0);
    transition: all .2s;

    &.up {
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.32);
        transform: translate(0,-5px);
    }

    &.up:hover {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.32);
        transform: translate(0,0);
    }
}