// Palette color codes */
// Palette URL: http://paletton.com/#uid=10N0u0kjYll9Pvwe+q4oggRtMbv */
$color-base: #AA8040;	// Main Primary color */
$color-lightest: #FBDDAE;
$color-lighter: #D0A96E;
$color-darker: #865E20;
$color-darkest: #5C3A06;

$white: #FFFFFF;
$color-success: #277553;
$color-failure: #AB3939
