/* 
Color palette: http://paletton.com/#uid=10N0u0kjYll9Pvwe+q4oggRtMbv
base color: AA8040
*/

/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Bungee', cursive;
*/
// @import url('https://fonts.googleapis.com/css?family=Bungee|Exo+2');
@font-face {
    font-family: Exo2;
    src: local("Exo 2"),
        url('/assets/fonts/Exo2-Regular.ttf');
}
@font-face {
    font-family: Bungee;
    src: local("Bungee"),
        url('/assets/fonts/Bungee-Regular.ttf');
}

@import 'variables';
@import 'mixins';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body {
    background: radial-gradient(circle at bottom, $color-lighter, $color-darker);
    color: $white;
    font-family: 'Exo2', sans-serif;
}

a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $color-lightest;
    }
}

button {
    @include tile();
}