/* Bootstrap */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Bungee', cursive;
*/
// @import url('https://fonts.googleapis.com/css?family=Bungee|Exo+2');
@font-face {
    font-family: Exo2;
    src: local("Exo 2"),
        url('/assets/fonts/Exo2-Regular.ttf');
}
@font-face {
    font-family: Bungee;
    src: local("Bungee"),
        url('/assets/fonts/Bungee-Regular.ttf');
}

@import 'mixins';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: radial-gradient(circle at bottom, #d0a963, #865e21);
    font-family: 'Exo 2', sans-serif;
}

button {
    @include tile();
}